<form>
	<label>Search Term</label>
	<input id="query"></input>
	<a onclick="get_results()" style="color: #fff; padding: 5px; background-color: #000;">Search</a>
<form>
<div style="clear: both"></div>
<div style="margin: 5px; padding: 5px; border: 1px #000 solid; width: 45%; float: left;">
	<h2 style="margin: 5px;">Elastic Results:</h2>
	<div id="elastic_results"></div>
</div>
<div style="margin: 5px; padding: 5px; border: 1px #000 solid; width: 45%; float: right;">
	<h2 style="margin: 5px;">Evergreen Results:</h2>
</div>
<div style="clear: both"></div>


<script>
function get_results(){
	var query = $('#query').val()
	var time_start = Date.now();
	get_egresults(query, time_start);
	get_elastic(query, time_start);
}

function get_egresults(query, time_start){
	alert('eg')
}

function get_elastic(query, time_start){
	alert(query)
	$.get('http://elastic-evergreen.herokuapp.com/main/index.json?query=' + query).done(function(data){
		$.each(data, function(i, result){
			$('#elastic_results').append(result.title)
		});
	});

}

</script>